// Place all the styles related to the Analyses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
    padding: 15px;
}

th, tr {
    border-bottom: 1px solid #ddd;
}

table tbody tr:hover { 
  background-color: AliceBlue !important; 
}

table tr:nth-child(odd) {
    background-color: White;
    
}

table tr:nth-child(even) {
    background-color: WhiteSmoke;
}
td a { 
  display: block; 
  padding: 16px;
  text-decoration: none !important;
}